@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("./assets/fonts/PlusJakartaSans.ttf") format("truetype");
  }

  body {
    font-family: "PlusJakartaSans", sans-serif;
  }
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* thinner scrollbar */
  height: 6px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3); /* subtle grey */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5); /* slightly darker on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* or very light color */
}
